<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Upload Recipe</h1>
    <form method="POST" action="/upload-recipe" enctype="multipart/form-data">
    
        <div id="ingredientFields">
    
        </div>

        <div>
            <button type="button" id="addIngredient">Add Ingredient</button>
        </div>

        <div id="instructionFields">

        </div>

        <div>
            <button type="button" id="addInstruction">Add Step</button>
        </div>

    
    </form>
    
    <script src="create.js"></script>
</body>
</html>
