<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
</head>
<body>
    <header>
        <img src="images/landing/logo.svg" alt="" id="logo">
        <nav>
            <a href="">Discover</a>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
            <a href=""><button id="login"><img src="images/landing/login.png" alt="">Log in</button></a>
            <a href=""><button>Sign up</button></a>
        </nav>
    </header>
    <section class="hero">
        <h1>Cooking is <br>for everyone</h1>
        <div>
            <img src="images/landing/shrimp.svg" alt="" class="shrimp">
            <img src="images/landing/gumbo.svg" alt=""class="gumbo">
            <img src="images/landing/shadow.svg" alt=""class="shadow">
            <img src="images/landing/wiggle.svg" alt="" class="wiggle">

        </div>
    </section>
    <script src="landing.js"></script>
</body>
</html>